h1{
    margin: 2rem;
}

.inputElement{
    width: 100%;
    margin:  2rem auto 3rem auto;
    height: 1.6rem;
}

.inputElement:focus{
    box-shadow: 5px 3px 5px grey;
    outline: none;
    border: 2px solid grey;
}

.control{
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.control .addbtn{
    width: 2.1rem;
    height: 1.6rem;
    border-radius: 0.3rem;
    background: none;
}

.control .searchbtn{
    width: 2.1rem;
    height: 1.6rem;
    border-radius: 0.3rem;
    background: none;
}

.control .action{
    border: 2px solid black;
    border-radius: 0.3rem;
}

.control .sort{
    border: 2px solid black;
    border-radius: 0.3rem;
}

.stateButton{
    background: none;
}

.control .state{
    border: 2px solid black;
    padding:  0.2rem;
    border-radius: 0.3rem;
}

.control .allbtn{
    border: none;
    margin-right: 0.4rem;
    background: none;
}

.control .activebtn{
    border: none;
    margin-right: 0.4rem;
    background: none;
}

.control .completedbtn{
    border: none;
    background: none;
}

.control .default{
    border: 2px solid 
}

.control .active{
    border: 2px solid rgb(0, 195, 0);
}

.editbtn{
    background-color: yellowgreen;
    border: none;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.savebtn{
    background-color: black;
    border: none;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.deletebtn{
    background-color: #c50700;
    border: none;
    color: white;
    padding: 0.3rem;
    border-radius: 0.3rem;
}

.hidden{
    display: none;
}